!(*.*)
*.o
ConfigDevTests.cpp
Configuration_test
Measurements_test
notes_on_Variations.txt
venv
#test*
*copy*
.idea
__pycache__
*.csr
*.bsr
*.mtx
*.tns
*.gz
.DS_Store
*.cmake
*.cbp
*.log
*.pdf
*.dot
*.map
